<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>礼物设置</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.js" ></script>
<script src="js/angular.min.js" ></script>
<script src="js/zoke.js"> </script>
<script src="js/common.js"></script>
<body  ng-app="app" >
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="reset">
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ><a href="index.html">中奖列表</a></li>
            <li><a href="prize.html">奖品管理</a></li>
            <li><a href="contact.html" class="active" >抽奖配置</a></li>
            <li><a href="prizeLevel.html">奖品等级配置</a></li>
            <li><a href="javascript:void(0)" ng-click="resetData()">重置</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
<form role="form" style="padding-top: 60px" ng-controller="ctrl">

  <div class="form-group">
  <label >最大值</label>
    <input ng-model="maxNum" type="text" class="form-control" placeholder="输入抽奖数量的最大值">
  <label >最小值</label>
    <input ng-model="minNum" type="text" class="form-control" placeholder="输入抽奖数量的最小值">
  <label >一次抽奖的数量</label>
    <input ng-model="time" type="text" class="form-control" placeholder="输入一次抽奖的数量">
  <label >类型设置</label><br />
  <input type="radio" value="0" ng-model="lotteryType" name="selectlotteryType" ng-checked="true">&nbsp;台号
  <input type="radio" value="1" ng-model="lotteryType" name="selectlotteryType">&nbsp;个人<br />
  <label >是否剔除尾号4</label><br />
     <input type="radio" value="Y" ng-model="state" name="selectState" ng-checked="true">&nbsp;是
     <input type="radio" value="N" ng-model="state" name="selectState">&nbsp;否
  </div>

  <button type="button" ng-click = "addPrizeLevel(prizeLevelName)" class="btn btn-default">Submit</button>
</form>
<script>
    prizeId = zoke.getUrlElement("prizeId");
    app.controller('ctrl', function($scope, $http){
        $scope.addPrizeLevel = function(prizeLevelName) {
            if($scope.state==undefined){
                $scope.state = 'Y';
            }

            if($scope.lotteryType==undefined){
                $scope.lotteryType = '0';
            }

            alert($scope.lotteryType)
            alert($scope.state)
            return
             $http({
                 method:'GET',
                 url:'app/addNumSet',
                 params:{maxNum:$scope.maxNum,minNum:$scope.minNum,time:$scope.time,isreject:$scope.state,lotteryType:$scope.lotteryType}
             }).then(function successCallback(response) {
                 alert("添加抽奖配置成功");
                 console.log(JSON.stringify(response.data));
                 location.href = document.referrer;
                
             }, function errorCallback(response) {
             alert("网络连接异常");
            })
        }

    })
</script>

</body>
</html>
