<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抽奖配置</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.js" ></script>
<script src="js/angular.min.js" ></script>
<script src="js/common.js"></script>
<body ng-app="app">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="reset">
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="index.html">中奖列表</a></li>
            <li><a href="prize.html">奖品管理</a></li>
            <li class="active"><a href="contact.html">  抽奖配置</a></li>
            <li><a href="prizeLevel.html">奖品等级配置</a></li>
            <li><a href="javascript:void(0)" ng-click="resetData()">重置</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="panel panel-default" style="padding-top: 50px">
  <div class="panel-heading">中奖列表</div>
<table name="prizeList" class="table" ng-controller="ctrl" >
    <thead>  
      <th>抽奖号码最大值</th> 
      <th>抽奖号码最小值</th>
      <th>剩余次数</th>
      <th>抽奖类型</th>
      <th>是否剔除尾号4</th>
      <th>操作</th>
    </thead>
    <tbody>
        <tr ng-repeat = "data in dataList">
        <td>{{data.maxNum}}</td>
        <td>{{data.minNum}}</td>
        <td>{{data.time}}</td>
        <td>{{data.lotteryType =='0' ? '台号' : '个人'}}</td>
        <td>{{data.isreject =='Y' ? '是' : '否'}}</td>
          <td>
              <button type="button" class="btn btn-danger" ng-click="delete(data.numSetId)">删除</button>
          </td>
        </tr>
    </tbody>
</table>
</div>
<button ng-controller="add" type="button" class="btn btn-primary" ng-click="add()">新增</button>
<script>
    app.controller('ctrl', function($scope, $http){
        $http.get("app/getCalNumSet").success(function(response){
            $scope.dataList = response.data;
        })

        $scope.delete = function (numSetId) {
            $http.get("app/delNumSet?numSetId=" + numSetId).success(function(response) {
                history.go(0); 
            }) 
        }
        $scope.add = function() {
            location.href = "addNumSet.html";
        }
    })

    app.controller('add', function($scope, $http){
        $scope.add = function() {
            location.href = "addNumSet.html";
        }
    })

</script>

</body>
</html>
