<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>礼物设置</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.js" ></script>
<script src="js/angular.min.js" ></script>
<script src="js/zoke.js"> </script>
<script src="js/common.js"></script>
<body  ng-app="app" ng-controller="ctrl">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="reset">
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="index.html">中奖列表</a></li>
            <li  class="active"><a href="prize.html" class="active">奖品管理</a></li>
            <li><a href="contact.html">抽奖配置</a></li>
            <li><a href="prizeLevel.html">奖品等级配置</a></li>
            <li><a href="javascript:void(0)" ng-click="resetData()">重置</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
<form role="form" style="padding-top: 60px">

  <div class="form-group">
  <label >奖品名称</label>
    <input type="text" class="form-control" id="prizeName"  ng-model="prize.prizeName"
    value="{{prize.prizeName}}" placeholder="请输入奖品名称">
  </div>

  <div class="form-group">
        <label>奖品等级{{levelName}}  ========== >{{levels}} </label>
        <!--<select class="form-control">-->
            <!--<option {{'' === l.prizeLevelName?'selected':''}} ng-repeat='l in levels'>{{l.}}</option>-->
        <!--</select>-->
      <select class="form-control" ng-options="l.prizeLevelName for l in levels  "  ng-model="levelName">
      </select>
  </div>
  
  <div class="form-group">
        <label>抽奖类型</label>
        <select class="form-control"  >
      <option ng-repeat="calNum in calNumSets" value="{{calNum.numSetId}}" ng-model="calNum.numSetId">一次抽{{calNum.time}}
      最大值{{calNum.maxNum}}  最小值{{calNum.minNum}}</option>
      </select>
  </div>
  
  
  <div class="form-group">
        <label>奖品数量</label>
        <input type="text" value = "{{prize.remainTime}}"id="remainTime" ng-model="prize.remainTime">
  </div>

    <div class="form-group">
        <label>广告图片</label>
        <!--<input type="file" id="prizeImg" value = "{{prize.prizeImg}}">-->
        <input type="file" file-model="myFile" />
        <div class="col-md-12" style="margin-top: 20px;">
            <img ng-src="{{prize.prizeImg}}" class="img-rounded" style="max-width:300px;max-height:300px; padding: 0px;" />
            <!--<img ng-src="{{imageSrc}}" class="img-circle" style="max-width:300px;max-height:300px; padding: 0px;" />-->
        </div>
    </div>

    <button type="submit" class="btn btn-default" ng-click="keepTest()" >Submit</button>
</form>
<script>
    prizeId = zoke.getUrlElement("prizeId");
    app.controller('ctrl', function($scope, $http, fileReader){
        $http({
            method:'GET',
            url:'app/getPrizeById?prizeId=' + prizeId
        }).then(function successCallback(response) {
             console.log(JSON.stringify(response.data));
             $scope.prize = response.data.data;
        }, function errorCallback(response) {
             alert("网络连接异常");
        })

        $http({
            method:'GET',
            url:'app/getPrizeLevel'
        }).then(function successCallback(response) {
             console.log(JSON.stringify(response.data));
             $scope.levels= response.data.data;
             for (i = 0; i < $scope.levels.length; i++) {
                 if ($scope.levels[i].prizeLevelId == $scope.prize.prizeLevelId) {
                     $scope.levelName = $scope.levels[i];
                 }
             }
        }, function errorCallback(response) {
             alert("网络连接异常");
        })

        $http({
            method:'GET',
            url:'app/getCalNumSet'
        }).then(function successCallback(response) {
             console.log(JSON.stringify(response.data));
             $scope.calNumSets = response.data.data;
        }, function errorCallback(response) {
             alert("网络连接异常");
        })

//        /*jQ的ajax提交*/
        $scope.getFile = function() {
            fileReader.readAsDataUrl($scope.file, $scope)
                    .then(function(result) {
                        $scope.prize.prizeImg = result;
                    });
        };
        $scope.keepTest = function() {
            var fd = new FormData();

            var file = $scope.myFile;
            var prizeName = $scope.prize.prizeName;
            var remainTime = $scope.prize.remainTime;

            fd.append('file', file);
            fd.append('prizeName',prizeName);
            fd.append('remainTime',remainTime);
            fd.append('prizeLevelId',$scope.levelName.prizeLevelId);
            $http({
                method:'POST',
                url:"app/testKeep",
                data: fd,
                headers: {'Content-Type':undefined},
                transformRequest: angular.identity
            })
                    .success( function ( response )
                    {
                        //上传成功的操作
                        alert("uplaod success");
                    });

        }
    })
    app.directive('fileModel', ['$parse', function($parse) {
        return {
            restrict: 'A',
            link: function(scope, element, attrs, ngModel) {
                var model = $parse(attrs.fileModel);
                var modelSetter = model.assign;
                element.bind('change', function(event) {
                    scope.$apply(function() {
                        modelSetter(scope, element[0].files[0]);
                    });
//附件预览
                    console.log("directive");
                    scope.file = (event.srcElement || event.target).files[0];
                    scope.getFile();
                });
            }
        };
    }]);
    app.factory('fileReader', ["$q", "$log", function($q, $log) {
        var onLoad = function(reader, deferred, scope) {
            return function() {
                scope.$apply(function() {
                    deferred.resolve(reader.result);
                });
            };
        };

        var onError = function(reader, deferred, scope) {
            return function() {
                scope.$apply(function() {
                    deferred.reject(reader.result);
                });
            };
        };

        var getReader = function(deferred, scope) {
            var reader = new FileReader();
            reader.onload = onLoad(reader, deferred, scope);
            reader.onerror = onError(reader, deferred, scope);
            return reader;
        };
        console.log("factory");
        var readAsDataURL = function(file, scope) {
            var deferred = $q.defer();
            var reader = getReader(deferred, scope);
            reader.readAsDataURL(file);
            return deferred.promise;
        };

        return {
            readAsDataUrl: readAsDataURL
        };
    }])
</script>
</body>
</html>
